<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>emosic</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script>
      function scrollToResult() {
        el = document.getElementById("scrollTarget");
        el.scrollIntoView({ behavior: "smooth" });
      }
    </script>
  </head>
  <body onload="scrollToResult();">
    <section class="bg-sky-500/50 h-96 p-12">
      <div class="grid text-left">
        <div class="grid-cols-12 max-w-md">
          <h2 class="text-6xl font-bold tracking-tight text-white p-2">
            emosic
          </h2>
          <p
            class="text-2xl text-white font-bold tracking-tight opacity-70 p-2 underline"
          >
            あなたの感情 音楽に変換します
          </p>
        </div>
        <form method="POST" class="my-12 grid grid-cols-3 gap-4">
          <div class="col-span-2">
            <input
              class="shadow appearance-none border rounded w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="text"
              type="text"
              placeholder="今のあなたの気持ちを教えてください"
              autocomplete="off"
              onchange="change()"
            />
          </div>
          <div class="text-center">
            <button
              id="submit-button"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
              name="text"
              value=""
              type="submit"
            >
              音楽に変換する
            </button>
          </div>
        </form>
      </div>
    </section>
    {%if name %} {%include "result_section.html"%} {%endif%}
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    <script>
      function change() {
        text = document.getElementById("text").value;
        document.getElementById("submit-button").value = text;
      }

      function shareText(text, music) {
        url =
          "https://twitter.com/share?text=「" +
          text +
          "」なあなたにおすすめな曲は「" +
          music +
          "」です！%0D%0A";
        document.getElementById("twitter-share").setAttribute("href", url);
      }

      html2canvas(document.getElementById("canvas"), {
        proxy: true,
        useCORS: true,
      })
        .then((canvas) => {
          let element = document.getElementById("img-download-button");
          element.href = canvas.toDataURL("image/png");
          element.download = "canvas.png";
        })
        .catch((err) => {});
    </script>
  </body>
</html>
